*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; /* IE */
}

/* --------------- header ------------- */

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
  background-position: center;
  background-size: cover;
  position: relative;  
}

.header{
  background: black;
}


input{
  display: block;
  margin: 10px 0 10 px 0;
}

nav h1{
  color: #14F5E4;
  padding: 10px;
  font-size: 40px;
}

.country{
  margin: auto;
}

select{
  border: 0px;
  position: absolute;
  width: 12.5rem;
  height: 1rem;
  margin-left: 10px;

}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 120px;

}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-sytle: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #14F5E4;
  display: block;
  margin: auto;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.row a{
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  transition: 1s;
}

.bikes-col span{
  font-weight: 600;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 50px;
}

h5{
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}

.text-box p{
  font-size: 25px;
  margin: 3px 0 40px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border:  1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa{
  display: none;
}

/* --------------- container ------------- */

.container{
  width: 100%;
  height: 90vh;
  background: #fff;
  background-image: url(../images/harley/harley_black.png);
  background-position-x: 500px;
  background-position-y: 40px;
  background-size: 750px 400px;
  background-repeat: no-repeat;
  padding: 20px 10%;
  margin-right: 15px;
  transition: background-image 0.2s;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo{
  width: 160px;
  cursor: pointer;
}

nav .btn{
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 15px 50px;
  border-radius: 30px;
}


.content{
  margin-top: 2%;
}

.content h2{
  color: #FB7315;
  font-size: 34px;
}

.content h1{
  font-size: 55px;
  color: #222;
  margin-top: -5px;
}

.content p{
  max-width: 320px;
  font-weight: 600;
  font-size: 20px;
  color: #555;
  margin-top: 10px;
}

.content h3{
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
}

.colour-select div{
  background: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.colour-select{
  display: flex;
  margin-top: 10px;
}


.colour-select #black{
  background: black;

}

.colour-select #denim{
  background: #332E2B;
  
}

.colour-select #blueblack{
  background: #262666;
  
}

.colour-select #grey{
  background: Grey;
  
}

.colour-select #white{
  background: #F5F5DC;
  
}


.text-box .btn{
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 15px 50px;
  border-radius: 30px;
}

.text-box{
  margin-top: 70px;
  text-align: center;
}

.text-box .btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
  
.footer{
  background: black;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  color: #fff;
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 24px ;
  font-weight: 600;
}

.footer p{
  font-size: 18px;
  color: #fff;  
}

.icons .fa{
  color: #14F5E4;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o{
  color: #14F5E4;
}



@media(max-width: 700px){

    .text-box h1{
      font-size: 20px;
    }

    .nav-links ul li{
      display: block;
    }

    .nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }

    nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-sizze: 22px;
      curser: pointer;
    }

    .nav-links ul{
      padding: 30px;
    }

    .container{
      width: 100%;
      height: 90vh;
      background: #fff;
      background-image: url(../images/harley/harley_black.png);
      background-position-x: 280px;
      background-position-y: 50px;
      background-size: 200px 250px;
      background-repeat: no-repeat;
      padding: 20px 10%;
      margin-right: 15px;
      transition: background-image 0.2s;
    }

    #bike h1{
      font-size: 28px;
    }

    #bike h2{
      font-size: 26px;
    }

    .footer p{
      text-align: left;
      margin-left: 20px;
    }

    .bubble p{
      text-align: center;
      margin: 0 0 0 0;
    }

    .break{
      display: none;
    }