* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


/* --------------- header ------------- */

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../images/harley_back.png');
  background-position: center;
  background-size: cover;
  position: relative;  
}

.header{
  background: black;
}

.maps{
  width: 100%;
  margin-top: 50px;
  margin-left: 20px;
}

input{
  display: block;
  margin: 10px 0 10 px 0;
}

nav h1{
  color: #14F5E4;
  padding: 10px;
  font-size: 40px;
}

.country{
  margin: auto;
}

select{
  border: 0px;
  position: absolute;
  width: 12.5rem;
  height: 1rem;
  margin-left: 10px;

}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 90px;

}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-sytle: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  
}

html{
  scroll-behavior: smooth;
}








/* --------------- container ------------- */

.clear {
  clear: both;
}

.alignleft{
     float: left;
     margin: 0 15px 15px 0;
}

.alignright{
     float: right;
     margin: 0 0 15px 15px;
}


#container{
     width: 1000px;
     margin: 0 auto 0 auto;
}

#header{
     background: Silver;
     padding: 50px;
}

#main{  
     padding: 50px;
     width: 700px;
     /*border: 1px red solid;*/
}

#sidebar{
     background: Pink;
     width: 1000px;
     float: ;
     padding: 50px;
     height: 569px;
}

/* --------------- Store ------------- */

.sub-header{
  height: 20vh;
  width: 100%;
  background: black;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h2{
  margin-top: 30px;
  font-size: 36px;
}



.about-us{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col{
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col h1{
  padding-top: 0;
  font-size: 28px;
}

.about-col p{
  padding: 15px 0 25px;
  text-align: left;
  margin-right: 50px;
}

.about-col img{
  width: 450px;
  height: 350px;
  object-fit: cover;
  float: right;
  margin: -80px -40px 15px 150px;
}

.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover{
  color: #fff;
}


/* --------------- subfooter ------------- */

.sub-footer{
  background: black;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  display: block;
  margin-top: 40px;
}

.sub-footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 24px ;
  font-weight: 600;
  color: #fff;
}

.sub-footer p{
  font-size: 18px;
   color: #fff;  
}

.sub-icons .fa{
  color: #F37925;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;

}

.sub-footer .fa-heart-o{
  color: #F37925;
}


@media(max-width: 700px){

    .text-box h1{
      font-size: 20px;
    }

    .nav-links ul li{
      display: block;
    }

    .nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }

    nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-sizze: 22px;
      curser: pointer;
    }

    .nav-links ul{
      padding: 30px;
    }

    .container{
      width: 100%;
      height: 90vh;
      background: #fff;
      background-image: url(../images/harley/harley_back.png);
      background-position-x: 280px;
      background-position-y: 50px;
      background-size: 200px 250px;
      background-repeat: no-repeat;
      padding: 20px 10%;
      margin-right: 15px;
      transition: background-image 0.2s;
    }

    #bike h1{
      font-size: 28px;
    }

    #bike h2{
      font-size: 26px;
    }

    .sub-footer p{
      text-align: left;
      margin-left: 20px;
    }

    .bubble p{
      text-align: center;
      margin: 0 0 0 0;
    }

    .break{
      display: none;
    }

    .about-col img{
    margin-top: 30px;
    padding-left: 80px;
    text-align: center;
    }